/* default_style.css */
body {

    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 5px;
    counter-increment: myIndex;
}

li::before {
    content: counter(myIndex) ". ";
}
